<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Meta Ball Balancing Project</title>
</head>
<body>
    <div class="popup" id="popup">
        <div class="button" id="button">
            <span class="arrow" id="arrow"><img src="reshot-icon-arrow-chevron-right-WDGHUKQ634.svg" style="transform: rotate(270deg); width: 40px; height: 40px;"></span>
        </div>
        <div class="popup-content">
            <canvas id="myLineChart"></canvas>
        </div>
    </div>    
    <script src="script.js"></script>
</body>
</html>
